.Desc {
  display: -webkit-box;
  display: -ms-flexbox;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.sideBar {
  float: left;
  width: 23%;
  height: 80vh;
  border-radius: 3;
  border: 10px;
  border-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  margin: 20px;
}

li {
  list-style-type: none;
}

.jobType {
  font-size: medium;
  border-radius: 2px;
  background-color: #e2e0e0;
  color: black;
  margin: 5px;
  padding: 5px;
}

.jobs {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffffff31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 87%;
  padding: 10px;
  margin-bottom: 5px;
}

.skills {
  overflow: hidden;
}

.liStkills {
  display: inline-block;
  margin-right: 15px;
  border: 5px;
  border-radius: 10px;
  background: #d1d1d1;
  padding: 10px;
}
/*# sourceMappingURL=JobDesc.css.map */