.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: #f0efef;
}
body {
  margin: 0;
  padding: 0;
}
.cards {
  display: flex;
  margin: 50px;
  padding: 5px;
}
.job {
  border: 2px solid black;
  border-radius: 7px;
  background-color: #ffffff;
  flex-direction: column;
  width: 150px;
  height: 200px;
  padding: 10px;
  margin-right: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: rgb(0, 0, 0);
  background-color: grey;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #e6e4e4;
  width: 75%;
  height: 11%;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
}
.ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 7%;
}
.descriptionBtn {
  float: right;
  border: 1px solid #7eaee4;
  background: white;
  margin-top: 20px;
}
img {
  height: 60%;
  margin-left: 100px;
  margin-top: 10px;
}
